.svg-icon-dash{
  width: 24px;
}
.svg-icon {
  width: 25px;
  vertical-align: sub;
}
.mh-100-n{
  min-height: 50vh;
}
.cur-poi{
  cursor: pointer;
}
.fav-image{
  padding:7%;
  border-radius: 50%;
  border: 1px solid silver;
}
.float-add{
  position: fixed;
  right: 5%;
  background-color: #eee;
  border: 1px silver;
  border-radius: 50%;
  padding: 1%;
  bottom: 20%;
}
.overlay {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
}
.custom-modal {
  position: fixed;
  top: 5%;
  height: 50%;
  width: 90%;
  left: 5%;
  background-color: white;
  z-index: 3;
}
.cover-rest-login{
  min-height: 100vh;
  background-color: #192c4e;
}
.mimick-card-img{
  width: 180px;
  position: absolute;
  transform: translate(-50%, -30%);
  left: 50%;
  transition: all 0.15s ease;
}